# Collecting data from api

In [7]:
import pandas as pd
from Data.APICalls import get_intervals, get_laps, get_pit_data, get_position, get_session, get_stints, get_weather
import numpy as np
import time

ModuleNotFoundError: No module named 'Data'

## Reading Drivers data

In [8]:
driver_df = pd.read_csv("../Data/drivers.csv")
session_keys = driver_df['session_key']
meeting_keys = driver_df['meeting_key']
driver_numbers = driver_df['driver_number']

### Using Driver data to complete api calls

Weather data

In [9]:
meeting_key = 1239
unique_weather_data = set()

for wind_direction in range(250, 330, 10):
    for track_temperature in range(10, 40):
        weather_df = get_weather(meeting_key, wind_direction, track_temperature)

        if not weather_df.empty:
            weather_df_frozen = frozenset(weather_df.itertuples(index=False, name=None))    

            if weather_df_frozen not in unique_weather_data:
                unique_weather_data.add(weather_df_frozen)

unique_weather_dfs = [pd.DataFrame(list(frozen_set)) for frozen_set in unique_weather_data]
combined_weather_df = pd.concat(unique_weather_dfs, ignore_index=True)
combined_weather_df

NameError: name 'get_weather' is not defined

In [ ]:
weather_df = get_weather(1239, 250, 10)
weather_df

Lap Data

In [ ]:
driver_sets = {driver_number: [] for driver_number in driver_numbers}
session_key = 9550

# Collect lap data for each driver
for driver_number in driver_numbers:
    for lap in range(2, 71):
        lap_df = get_laps(session_key, driver_number, lap)

        if not lap_df.empty:
            driver_sets[driver_number].append(lap_df)
        time.sleep(1)

# Convert lists of DataFrames to a single DataFrame for each driver
for driver_number, driver_list in driver_sets.items():
    if driver_list:  # Check if the list is not empty
        driver_sets[driver_number] = pd.concat(driver_list, ignore_index=True)
    else:
        driver_sets[driver_number] = pd.DataFrame()  # If no data, create an empty DataFrame

# Print the resulting DataFrames for each driver
for driver_number, driver_df in driver_sets.items():
    print(f"Driver Number: {driver_number}, DataFrame:\n{driver_df}\n")

In [4]:
df = get_laps(9550, 1, 2)
df

,meeting_key,session_key,driver_number,i1_speed,i2_speed,st_speed,date_start,lap_duration,is_pit_out_lap,duration_sector_1,duration_sector_2,duration_sector_3,segments_sector_1,segments_sector_2,segments_sector_3,lap_number
0,1239,9550,1,290,227,286,2024-06-30T13:04:14.597000+00:00,69.938,False,17.697,31.186,21.055,"[2049, 2049, 2048, 2049, 2049, 2048]","[2048, 2049, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2049, 2048, 2048, 2048, 2048]",2

In [11]:
import json
from urllib.request import urlopen

response = urlopen('https://api.openf1.org/v1/laps?session_key=9550&driver_number=1&lap_number=73')
data = json.loads(response.read().decode('utf-8'))
df = pd.DataFrame(data)
df.empty

True

Interval Data

In [8]:
session_key = 9550
intervals_df = []

for interval in np.arange(0.01, 2.0, 0.01):  
    interval_df = get_intervals(session_key, interval)
    intervals_df.append(interval_df)
    time.sleep(1)

final_intervals_df = pd.concat(intervals_df, ignore_index=True)
final_intervals_df

,session_key,meeting_key,date,driver_number,gap_to_leader,interval
0,9550,1239,2024-06-30T12:07:38.634000+00:00,1,0.0,0.000
1,9550,1239,2024-06-30T13:03:09.919000+00:00,20,1.361,0.001
2,9550,1239,2024-06-30T13:03:19.773000+00:00,3,2.821,0.005
3,9550,1239,2024-06-30T13:03:48.656000+00:00,10,4.645,0.008
4,9550,1239,2024-06-30T13:04:14.393000+00:00,1,0.0,0.000
...,...,...,...,...,...,...
992319,9550,1239,2024-06-30T14:28:26.583000+00:00,31,67.85,0.857
992320,9550,1239,2024-06-30T14:28:26.967000+00:00,10,61.766,0.597
992321,9550,1239,2024-06-30T14:28:27.775000+00:00,31,68.404,1.248
992322,9550,1239,2024-06-30T14:28:30.646000+00:00,31,68.345,1.264
992323,9550,1239,2024-06-30T14:28:33.532000+00:00,31,68.325,1.269

Position Data

In [4]:
meeting_key = 1239
final_position_dfs = []

for driver_num in driver_numbers:
    driver_position_dfs = []  
    for position in range(driver_numbers.size):
        position_df = get_position(meeting_key, driver_num, position)
        driver_position_dfs.append(position_df)
        time.sleep(1)
        
    driver_df_concat = pd.concat(driver_position_dfs, ignore_index=True)
    final_position_dfs.append(driver_df_concat)

final_position_df = pd.concat(final_position_dfs, ignore_index=True)
final_position_df

,session_key,meeting_key,driver_number,date,position
0,9540,1239,1,2024-06-28T10:16:53.192000+00:00,1
1,9540,1239,1,2024-06-28T10:35:34.221000+00:00,1
2,9540,1239,1,2024-06-28T10:40:24.265000+00:00,1
3,9540,1239,1,2024-06-28T11:25:18.678000+00:00,1
4,9545,1239,1,2024-06-28T14:19:26.696000+00:00,1
...,...,...,...,...,...
32918,9550,1239,81,2024-06-30T14:04:59.079000+00:00,5
32919,9550,1239,81,2024-06-30T14:05:03.959000+00:00,6
32920,9550,1239,81,2024-06-30T14:07:28.131000+00:00,5
32921,9550,1239,81,2024-06-30T14:19:02.566000+00:00,3
32922,9550,1239,81,2024-06-30T14:20:12.660000+00:00,2

Pit Data

In [3]:
session_key = 9550
pit_df = get_pit_data(session_key)
pit_df

,session_key,meeting_key,date,driver_number,pit_duration,lap_number
0,9550,1239,2024-06-30T13:04:53.204000+00:00,16,31.9,1
1,9550,1239,2024-06-30T13:04:55.523000+00:00,2,31.7,1
2,9550,1239,2024-06-30T13:15:24.903000+00:00,20,21.5,10
3,9550,1239,2024-06-30T13:15:25.998000+00:00,3,21.5,10
4,9550,1239,2024-06-30T13:16:35.747000+00:00,27,22.3,11
5,9550,1239,2024-06-30T13:16:40.741000+00:00,14,21.4,11
6,9550,1239,2024-06-30T13:17:53.027000+00:00,23,21.8,12
7,9550,1239,2024-06-30T13:23:00.965000+00:00,16,21.6,16
8,9550,1239,2024-06-30T13:26:14.563000+00:00,31,22.2,19
9,9550,1239,2024-06-30T13:26:23.447000+00:00,77,21.9,19
10,9550,1239,2024-06-30T13:27:27.391000+00:00,10,21.4,20
11,9550,1239,2024-06-30T13:27:33.892000+00:00,18,21.3,20
12,9550,1239,2024-06-30T13:28:14.659000+00:00,2,22.5,20
13,9550,1239,2024-06-30T13:28:25.744000+00:00,44,21.5,21
14,9550,1239,2024-06-30T13:28:31.893000+00:00,11,21.2,21
15,9550,1239,2024-06-30T13:28:43.636000+00:00,22,21.2,21
16,9550,1239,2024-06-30T13:29:31.828000+00:00,63,21.6,22
17,9550,1239,2024-06-30T13:29:34.062000+00:00,55,21.2,22
18,9550,1239,2024-06-30T13:30:32.553000+00:00,1,21.8,23
19,9550,1239,2024-06-30T13:30:38.218000+00:00,4,21.6,23
20,9550,1239,2024-06-30T13:33:11.119000+00:00,81,20.9,25
21,9550,1239,2024-06-30T13:37:32.855000+00:00,24,23.1,28
22,9550,1239,2024-06-30T13:43:26.505000+00:00,16,22.2,33
23,9550,1239,2024-06-30T13:45:53.752000+00:00,14,33.9,35
24,9550,1239,2024-06-30T13:48:00.851000+00:00,3,21.0,37
25,9550,1239,2024-06-30T13:49:11.394000+00:00,20,21.8,38
26,9550,1239,2024-06-30T13:50:18.236000+00:00,27,21.8,39
27,9550,1239,2024-06-30T13:50:33.828000+00:00,23,21.6,39
28,9550,1239,2024-06-30T13:54:02.921000+00:00,10,22.0,42
29,9550,1239,2024-06-30T13:54:11.713000+00:00,77,21.9,42
30,9550,1239,2024-06-30T13:55:14.488000+00:00,31,21.2,43
31,9550,1239,2024-06-30T13:55:20.077000+00:00,18,21.3,43
32,9550,1239,2024-06-30T13:56:31.100000+00:00,22,23.4,44
33,9550,1239,2024-06-30T13:58:03.267000+00:00,63,21.2,46
34,9550,1239,2024-06-30T13:59:17.091000+00:00,55,21.2,47
35,9550,1239,2024-06-30T14:03:26.889000+00:00,2,22.0,49
36,9550,1239,2024-06-30T14:03:40.307000+00:00,1,25.8,51
37,9550,1239,2024-06-30T14:03:43.418000+00:00,4,21.4,51
38,9550,1239,2024-06-30T14:04:02.252000+00:00,81,20.7,51
39,9550,1239,2024-06-30T14:04:31.937000+00:00,11,27.5,51
40,9550,1239,2024-06-30T14:04:54.872000+00:00,16,20.9,51
41,9550,1239,2024-06-30T14:05:25.103000+00:00,24,21.5,51
42,9550,1239,2024-06-30T14:06:34.098000+00:00,44,27.2,53
43,9550,1239,2024-06-30T14:19:30.264000+00:00,1,22.7,64
44,9550,1239,2024-06-30T14:25:54.074000+00:00,14,22.4,68

Stint Data

In [4]:
session_key = 9550
stint_df = get_stints(session_key)
stint_df

,meeting_key,session_key,stint_number,driver_number,lap_start,lap_end,compound,tyre_age_at_start
0,1239,9550,1,2,1,1,MEDIUM,0
1,1239,9550,1,16,1,1,MEDIUM,0
2,1239,9550,1,3,1,10,MEDIUM,0
3,1239,9550,1,20,1,10,MEDIUM,0
4,1239,9550,1,14,1,11,MEDIUM,3
...,...,...,...,...,...,...,...,...
60,1239,9550,5,16,52,72,MEDIUM,6
61,1239,9550,3,81,52,72,MEDIUM,0
62,1239,9550,3,44,54,72,MEDIUM,0
63,1239,9550,4,1,65,72,SOFT,0
64,1239,9550,4,14,69,71,SOFT,0

Session Data

In [3]:
session_type = ['Practice 1', 'Practice 2', 'Practice 3', 'Qualifying', 'Race']
year = [2022, 2023, 2024]

all_session_dfs = []

for s_type in session_type:
    session_dfs = []
    for y in year:
        session_df = get_session(s_type, y)
        session_dfs.append(session_df)
        time.sleep(1)
        
    session_df_concat = pd.concat(session_dfs, ignore_index=True)
    all_session_dfs.append(session_df_concat)
    
final_session_df = pd.concat(all_session_dfs, ignore_index=True)
final_session_df

,location,country_key,country_code,country_name,circuit_key,circuit_short_name,session_type,session_name,date_start,date_end,gmt_offset,session_key,meeting_key,year
0,Sakhir,36,BRN,Bahrain,63,Sakhir,Practice,Practice 1,2023-02-23T07:00:00+00:00,2023-02-23T16:30:00+00:00,03:00:00,9222,1140,2023
1,Sakhir,36,BRN,Bahrain,63,Sakhir,Practice,Practice 1,2023-03-03T11:30:00+00:00,2023-03-03T12:30:00+00:00,03:00:00,7765,1141,2023
2,Jeddah,153,KSA,Saudi Arabia,149,Jeddah,Practice,Practice 1,2023-03-17T13:30:00+00:00,2023-03-17T14:30:00+00:00,03:00:00,7772,1142,2023
3,Melbourne,5,AUS,Australia,10,Melbourne,Practice,Practice 1,2023-03-31T01:30:00+00:00,2023-03-31T02:30:00+00:00,11:00:00,7780,1143,2023
4,Baku,30,AZE,Azerbaijan,144,Baku,Practice,Practice 1,2023-04-28T09:30:00+00:00,2023-04-28T10:30:00+00:00,04:00:00,9063,1207,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Imola,13,ITA,Italy,6,Imola,Race,Race,2024-05-19T13:00:00+00:00,2024-05-19T15:00:00+00:00,02:00:00,9515,1235,2024
147,Monaco,114,MON,Monaco,22,Monte Carlo,Race,Race,2024-05-26T13:00:00+00:00,2024-05-26T15:00:00+00:00,02:00:00,9523,1236,2024
148,Montréal,46,CAN,Canada,23,Montreal,Race,Race,2024-06-09T18:00:00+00:00,2024-06-09T20:00:00+00:00,-04:00:00,9531,1237,2024
149,Barcelona,1,ESP,Spain,15,Catalunya,Race,Race,2024-06-23T13:00:00+00:00,2024-06-23T15:00:00+00:00,02:00:00,9539,1238,2024
150,Spielberg,17,AUT,Austria,19,Spielberg,Race,Race,2024-06-30T13:00:00+00:00,2024-06-30T15:00:00+00:00,02:00:00,9550,1239,2024